@media screen and (max-width:425px){
    .nav-container{
        flex-direction: column;
    }
    .boxes {
        flex-direction: column;
    }
    .play-content {
        flex-direction: column;
    }
}